{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Lister Information{% endblock %}</h1>
{% endblock %}
{% block content %}
<table>
  <thead>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone Number</th>
        <th>Years of Experience</th>
        <th>Price Per Hour</th>
        <th>Activity Name</th>
    </tr>
    </thead>    
    <tbody>
     {% for row in data %}    
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>${{row[4]}}</td>
                <td>{{row[5]}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<p><a href="another">Go to the other page</a></p>

{% endblock %}
