{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Lister Information{% endblock %}</h1>
{% endblock %}
{% block content %}
<table>
  <thead>
    <tr>
        <th>Name</th>
        <th>Hour</th>
        <th>Date</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Schedule_id</th>
        <th>Location</th>
        <th></th>
    </tr>
    </thead>    
    <tbody>
     {% for row in data %}    
            <tr>
                <td>{{row[0]}} {{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[7]}}, {{row[8]}}, {{row[9]}}</td>
                <td><a href="result?s={{ row[6] }}&l={{ row[10] }}&c={{ row[7] }}&st={{ row[8] }}&z={{ row[9] }}">Book</a></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>

  <h1>Lister Reviews</h1>
  <table>
    <thead>
      <tr>
          <th>Reviewer Name</th>
          <th>Comment</th>
          <th>Rating</th>
      </tr>
      </thead>    
      <tbody>
       {% for row in reviews %}    
              <tr>
                  <td>{{row[0]}} {{row[1]}}</td>
                  <td>{{row[2]}}</td>
                  <td>{{row[3]}}</td>
              </tr>
          {% endfor %}
      </tbody>
    </table>

{% endblock %}
