{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Log In">
  </form>
{% endblock %}



user_id varchar(10) PRIMARY KEY, 
first_name varchar(50) NOT NULL, 
last_name varchar(50) NOT NULL, 
user_email varchar(50) UNIQUE NOT NULL, 
city varchar(50) NOT NULL, 
state varchar(20) NOT NULL,
zip char(5) NOT NULL,
phone_number char(10) NOT NULL,
user_name varchar(50),
password varchar(100)
